---
import { fetchPokemonPage, fetchPokemon } from "../data/pokemons";
import BaseLayout from "../layouts/baseLayout.astro";
import Pokecard from "../components/pokecard.astro";
import Search from "../components/search.astro";

const pageTitle = "Pokemons";
const pokemonPage = await fetchPokemonPage(0)
const pokemonList:any = []
pokemonPage.map(url => fetchPokemon(url).then(p => pokemonList.push(p)))
console.log(pokemonList)
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <h2>Una lista de todos los Pokemons registrados disponibles</h2>
  <Search />
  <!-- testing -->
  <div class="pokemon-grid">
    {pokemonList.map((pokemon: any) => <Pokecard pokemon={pokemon} />)}
    <!-- TEST03 -->
    <!-- {pokemonPage.map((pokemonUrl: any) => {fetchPokemon(pokemonUrl).then(pokemon => <Pokecard pokemon={pokemon} />)})} -->
    <!-- {pokemonPage.map((pokemonUrl: any) => <Pokecard pokemon={fetchPokemon(pokemonUrl).then(p => {return p})} />)} -->
  </div>

  <div class="paginator">
    
  </div>

  <dialog id="pokemon-dialog">
    <form>
      <button formmethod="dialog">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-back"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1"></path></svg
        >
      </button>
      <h2>Nombre</h2>
      <h3>#ID</h3>
      <div class="info-container">
        <img src="" alt="pokemon" />
        <div class="stats">
          <ul>
            <li>altura</li>
            <li>peso</li>
            <li>HP</li>
            <li>ATQ</li>
            <li>DEF</li>
          </ul>
        </div>
      </div>
    </form>
  </dialog>

  <style>
    h1 {
      text-align: center;
      font-size: 3rem;
      margin: 20px 0;
      color: #333;
      font-family: "Arial", sans-serif;
    }
    h2 {
      text-align: center;
      font-size: 1.5rem;
      margin: 20px 0;
      color: #666;
      font-family: "Arial", sans-serif;
    }
    .pokemon-grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      gap: 1rem;
      margin: 0 auto;
      z-index: 999;
    }
    
    @media (max-width: 600px) {
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 1.1rem;
        max-width: 90%;
        margin: 0;
      }
      .pokemon-grid {
        grid-template-columns: 1fr;
        gap: 0.5rem;
        padding: 0 0.5rem;
      }
    }

    @media (max-width: 500px) {
      h1 {
        font-size: 2rem;
        margin: 1rem;
      }
      h2 {
        max-width: 70%;
        font-size: 1rem;
        margin: 0;
      }
      .pokemon-grid {
        grid-template-columns: 1fr;
        gap: 0.5rem;
        padding: 0 0.5rem;
      }
    }
  </style>

</BaseLayout>

<script>
  const pokecard = document.querySelectorAll(".pokemon-card");

  // Create a modal dialog for each pokecard displayed
  for (let i = 0; i < pokecard.length; i++) {
    pokecard[i].addEventListener("click", () => {
      let pokemon = pokecard[i];
      console.log(`${pokemon.children[0].textContent?.trim()} clicked!`);
      const alertDialog = document.querySelector("#pokemon-dialog");
      alertDialog?.showModal();
    });
  }
</script>
